/**
 * Module Name: Trending bar at top of article
 */

$module-name: 'article-trending';

.#{$module-name} {
	@include span(full break);
	@include gutter($article-side-padding);
	@include font-scale('helvetica', mid);

	&__section-heading {
    text-align: center;
		
		padding-top: spacer(px, large);
		padding-top: spacer(rem, large);
		padding-bottom: spacer(px, small);
		padding-bottom: spacer(rem, small);
	}

	p {
		margin-bottom: spacer(px, large);
		margin-bottom: spacer(rem, large);
		@include font-scale();
	}

	a {
		@include link-states();
	}
}

@include media-query(mid) {
	.#{$module-name} {
		@include span(10 of 12);
		@include push(1);
	}
}

@include media-query(large) {
	.#{$module-name} {
		@include span(8 of 12);
		@include push(2);
	}
}

@include media-query(x-large) {
	.#{$module-name} {
		@include span(6 of 12);
		@include push(3);
	}
}
