/**
 * Colors
 */
/** Content colors - Pass accessibility */
/** Error State - Pass accessibility */
/** UI colors - Fail accessibility */
/** Social colors */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Miller Headline Roman";
  src: url("//www.bostonglobe.com/font/MillerHeadline/4d418a22-c167-4249-be16-b789d221d18d-2.eot") format("eot");
  src: url("//www.bostonglobe.com/font/MillerHeadline/4d418a22-c167-4249-be16-b789d221d18d-2.eot?iefix") format("eot"), url("//www.bostonglobe.com/font/MillerHeadline/4d418a22-c167-4249-be16-b789d221d18d-3.woff") format("woff"), url("//www.bostonglobe.com/font/MillerHeadline/4d418a22-c167-4249-be16-b789d221d18d-1.ttf") format("truetype"), url("//www.bostonglobe.com/font/MillerHeadline/4d418a22-c167-4249-be16-b789d221d18d-4.svg") format("svg");
  font-weight: 600; }
@font-face {
  font-family: "Benton Sans";
  src: url("//www.bostonglobe.com/font/BentonSansRegular/BentonSansRegular.eot") format("eot"), url("//www.bostonglobe.com/font/BentonSansRegular/BentonSansRegular.eot?iefix") format("eot"), url("//www.bostonglobe.com/font/BentonSansRegular/BentonSansRegular.woff") format("woff"), url("//www.bostonglobe.com/font/BentonSansRegular/BentonSansRegular.woff2") format("woff2"), url("//www.bostonglobe.com/font/BentonSansRegular/BentonSansRegular.ttf") format("truetype"), url("//www.bostonglobe.com/font/BentonSansRegular/BentonSansRegular.svg") format("svg");
  font-weight: 400; }
@font-face {
  font-family: 'Benton Sans Bold';
  src: url("//www.bostonglobe.com/font/BentonSans-Bold/79e52a98-c6b6-4ed0-a074-409e1de09fd6-3.woff") format("woff"), url("//www.bostonglobe.com/font/BentonSans-Bold/79e52a98-c6b6-4ed0-a074-409e1de09fd6-1.woff2") format("woff2");
  font-weight: 800; }
html {
  font-size: 95%; }

body {
  padding-top: 40px;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

a {
  text-decoration: none;
  transition-property: background-color, color, border-bottom;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.49, 0.37, 0.445, 0.715); }

a:hover {
  text-decoration: none;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

i {
  font-style: italic; }

input {
  font-family: font-scale("benton-sans");
  padding: 5px;
  padding: 0.3125rem; }

input[type=text],
input[type=button],
input[type=email],
input[type=search],
input[type=submit],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

pre {
  white-space: pre-wrap; }

@media (min-width: 600px) {
  html {
    font-size: 100%; } }
/**
 * Module Name: Site Header - Big Article Header.
 */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  background-color: #000000;
  overflow: auto;
  z-index: 300;
  text-align: center; }
  .site-header .bg-logo {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.49, 0.37, 0.445, 0.715); }
    .site-header .bg-logo:hover {
      fill: #cccccc; }

/**
 * Site Footer - Footer used across the site
 */
.site-footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-bottom: 1.875rem; }
  .site-footer:after {
    content: " ";
    display: block;
    clear: both; }
  .site-footer__content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8; }
    .benton-sans-loaded .site-footer__content {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
  .site-footer__list {
    width: 100%; }
  .site-footer__list-item {
    padding: 5px 10px;
    padding: 0.3125rem 0.625rem;
    border-bottom: 1px solid #dddddd; }
    .site-footer__list-item:last-child, .site-footer__list-item:first-child {
      border-bottom: none; }
    .site-footer__list-item:first-child {
      padding: 0; }
  .site-footer__heading {
    padding: 10px;
    padding: 0.625rem;
    background: #eeeeee;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4; }
    .benton-sans-bold-loaded .site-footer__heading {
      font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }
  .site-footer__link {
    color: #444444;
    padding-bottom: 2px;
    border-bottom: 1px solid #444444;
    text-decoration: none;
    padding-bottom: 0;
    border-bottom: none; }
    .site-footer__link:visited {
      color: #444444; }
    .site-footer__link:hover {
      color: black; }
    .site-footer__link:active, .site-footer__link:focus {
      color: #000000; }
  .site-footer__copyright {
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-top: 0.625rem;
    border-top: 1px solid #dddddd;
    color: #444444;
    text-align: center;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4; }
    .benton-sans-loaded .site-footer__copyright {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }

@media (min-width: 500px) {
  .site-footer__content:before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    background: #dddddd; }
  .site-footer__list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem; }
    .site-footer__list:nth-child(odd) {
      padding-left: 0; }
  .site-footer__heading {
    padding: 0 0 5px 0;
    padding: 0 0 0.3125rem 0;
    background: none; }
  .site-footer__list-item {
    padding: 0 0 5px 0;
    padding: 0 0 0.3125rem 0;
    border-bottom: none; }
    .site-footer__list-item:first-child {
      padding: 0 0 5px 0; } }
@media (min-width: 600px) {
  .site-footer {
    padding-bottom: 50px;
    padding-bottom: 3.125rem; }
    .site-footer__content {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 83.33333%;
      float: left;
      padding-left: 1.13636%;
      padding-right: 1.13636%;
      margin-left: 8.33333%;
      font-size: 9pt;
      font-size: 0.75rem;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1.4; }
      .benton-sans-loaded .site-footer__content {
        font-family: "Benton Sans", Helvetica, Arial, sans-serif; } }
@media (min-width: 800px) {
  .site-footer__list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%; }
    .site-footer__list:first-child {
      padding-left: 0; } }
/**
 * Module Name: Social Tools - Big Article Header social tools.
 */
.social-tools {
  float: right; }
  .social-tools__list-item {
    display: inline-block;
    margin: 0 10px;
    margin: 0 0.625rem; }
  .social-tools svg {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.49, 0.37, 0.445, 0.715); }
    .social-tools svg:hover {
      fill: #cccccc; }

/**
 * Module Name: Big Article.
 */
.big-article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .big-article:after {
    content: " ";
    display: block;
    clear: both; }
  .big-article__module-full {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    clear: both; }

@media (min-width: 600px) {
  .big-article__module-full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 8.33333%; } }
/**
 * Module Name: Lead Media.
 */
.lead-media {
  position: relative;
  margin-bottom: -30px;
  margin-bottom: -1.875rem; }
  .lead-media__media {
    width: 100%; }
  .lead-media__info {
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-top: 0.3125rem; }
  .lead-media__credit {
    width: 100%;
    padding: 0 0 5px;
    color: #444444;
    text-align: right;
    font-style: italic;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4; }
    .georgia-loaded .lead-media__credit {
      font-family: Georgia, Times, "Times New Roman", serif; }
  .lead-media__caption {
    color: #444444;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4; }
    .helvetica-loaded .lead-media__caption {
      font-family: Helvetica, Arial, sans-serif; }

@media (min-width: 600px) {
  .lead-media__credit {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%; }
  .lead-media__caption {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%; } }
/**
 * Module Name: Article Content
 */
.article-header {
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.13636%;
  padding-right: 1.13636%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 50px 0 20px;
  margin: 3.125rem 0 1.25rem; }
  .article-header__overline {
    text-align: center;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: #9B1518;
    text-transform: uppercase; }
    .benton-sans-loaded .article-header__overline {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
  .article-header__headline {
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    text-align: center;
    color: #000000;
    font-size: 31.5pt;
    font-size: 2.625rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4; }
    .miller-headline-loaded .article-header__headline {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }
  .article-header__subheadline {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    text-align: center;
    color: #444444;
    font-size: 21pt;
    font-size: 1.75rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4; }
    .miller-headline-loaded .article-header__subheadline {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }
  .article-header__byline {
    color: #444444;
    text-align: center;
    font-size: 11.25pt;
    font-size: 0.9375rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8; }
    .benton-sans-loaded .article-header__byline {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
    .article-header__byline-link {
      color: #127694;
      padding-bottom: 2px;
      border-bottom: 1px solid #127694;
      text-decoration: none;
      font-size: 11.25pt;
      font-size: 0.9375rem;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1.8; }
      .article-header__byline-link:hover {
        color: #0c5267;
        border-bottom: 1px solid #0c5267; }
      .benton-sans-bold-loaded .article-header__byline-link {
        font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }
    .article-header__byline-role {
      margin-right: 5px;
      margin-right: 0.3125rem;
      margin-bottom: 10px;
      color: #444444; }
  .article-header__pubdate {
    font-size: 11.25pt;
    font-size: 0.9375rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8;
    display: block;
    margin-top: 10px;
    margin-top: 0.625rem; }
    .benton-sans-bold-loaded .article-header__pubdate {
      font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }

@media (min-width: 600px) {
  .article-header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 8.33333%;
    margin-top: 70px;
    margin-top: 4.375rem;
    margin-bottom: 40px;
    margin-bottom: 2.5rem; }
    .article-header__headline {
      font-size: 51pt;
      font-size: 4.25rem;
      font-family: Georgia, Times, "Times New Roman", serif;
      line-height: 1.2; }
      .miller-headline-loaded .article-header__headline {
        font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }
    .article-header__subheadline {
      margin-bottom: 25px;
      margin-bottom: 1.563rem; }
    .article-header__pubdate {
      display: initial;
      margin: 0; } }
@media (min-width: 1040px) {
  .article-header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 16.66667%; } }
/**
 * Module Name: Article Content.
 */
.article-content {
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.13636%;
  padding-right: 1.13636%;
  padding-left: 20px;
  padding-right: 20px; }
  .article-content__section-heading {
    text-align: center;
    font-size: 21pt;
    font-size: 1.75rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4;
    padding-top: 20px;
    padding-top: 1.25rem;
    padding-bottom: 5px;
    padding-bottom: 0.3125rem; }
    .miller-headline-loaded .article-content__section-heading {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }
  .article-content p {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.8; }
    .georgia-loaded .article-content p {
      font-family: Georgia, Times, "Times New Roman", serif; }
  .article-content a {
    color: #127694;
    padding-bottom: 2px;
    border-bottom: 1px solid #127694;
    text-decoration: none; }
    .article-content a:hover {
      color: #0c5267;
      border-bottom: 1px solid #0c5267; }

@media (min-width: 600px) {
  .article-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 8.33333%; } }
@media (min-width: 800px) {
  .article-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 16.66667%; } }
@media (min-width: 1040px) {
  .article-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 25%; } }
/**
 * Module Name: Inline Images.
 */
.inline-media {
  position: relative;
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  padding: 0; }
  .inline-media .rg-container {
    overflow-x: scroll;
    padding: 0; }
  .inline-media--bleed {
    margin-left: -20px;
    margin-right: -20px; }
  .inline-media__video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 2em;
    clear: both; }
    .inline-media__video object,
    .inline-media__video iframe,
    .inline-media__video embed,
    .inline-media__video .video-js {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important; }
  .inline-media__image {
    width: 100%; }
  .inline-media__info {
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-top: 0.3125rem; }
  .inline-media__credit {
    width: 100%;
    padding: 0 0 5px;
    color: #444444;
    text-align: right;
    font-style: italic;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4; }
    .georgia-loaded .inline-media__credit {
      font-family: Georgia, Times, "Times New Roman", serif; }
  .inline-media__caption {
    color: #444444;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4; }
    .helvetica-loaded .inline-media__caption {
      font-family: Helvetica, Arial, sans-serif; }

@media (min-width: 600px) {
  .inline-media--wide {
    margin-left: -8.33333%;
    margin-right: -8.33333%;
    margin-top: 30px;
    margin-top: 1.875rem;
    margin-bottom: 30px;
    margin-bottom: 1.875rem; }
  .inline-media twitterwidget,
  .inline-media iframe[src*="instagram"] {
    width: 80% !important;
    padding: 0 1.36364% !important;
    margin: 0 auto !important; }
  .inline-media__info {
    padding-right: 0;
    padding-left: 0; }
  .inline-media__credit {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    padding-right: 0; }
  .inline-media__caption {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    padding-left: 0; } }
@media (min-width: 800px) {
  .inline-media--wide {
    margin-left: -25%;
    margin-right: -25%; }
  .inline-media twitterwidget,
  .inline-media iframe[src*="instagram"] {
    width: 75% !important;
    padding: 0 1.70455% !important; } }
@media (min-width: 1040px) {
  .inline-media twitterwidget,
  .inline-media iframe[src*="instagram"] {
    width: 66.66667% !important;
    padding: 0 2.27273% !important; } }
/**
 * Module Name: Author tagline at the end article content
 */
.article-tagline {
  margin: 40px auto 0;
  text-align: center;
  color: #444444; }
  .article-tagline p {
    font-size: 11.25pt;
    font-size: 0.9375rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8; }
    .benton-sans-loaded .article-tagline p {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
  .article-tagline:before {
    content: '';
    display: block;
    margin: 0 auto 20px;
    margin: 0 auto 1.25rem;
    height: 3px;
    width: 50px;
    background-color: #dddddd; }

/**
 * Module Name: Inline Images.
 */
.inline-newsletter {
  background-color: #eeeeee;
  padding: 15px 20px 20px;
  padding: 0.9375rem 1.25rem 1.25rem;
  margin: 20px 0;
  margin: 1.25rem 0;
  border-top: 4px solid #dddddd;
  margin-left: -20px;
  margin-right: -20px; }
  .inline-newsletter__title {
    font-size: 21pt;
    font-size: 1.75rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
    .miller-headline-loaded .inline-newsletter__title {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }
  .inline-newsletter__description {
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem; }
    .benton-sans-loaded .inline-newsletter__description {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
  .inline-newsletter__input {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    border: 1px solid #dddddd;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8; }
    .benton-sans-loaded .inline-newsletter__input {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
    .inline-newsletter__input--error {
      min-height: 20px;
      min-height: 1.25rem;
      border: 2px solid #d90000; }
  .inline-newsletter__button {
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    padding: 10px 1.25rem;
    border: 0 solid;
    background: #127694;
    color: #ffffff;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8;
    transition: background 0.35s cubic-bezier(0.49, 0.37, 0.445, 0.715), opacity 0.35s cubic-bezier(0.49, 0.37, 0.445, 0.715); }
    .benton-sans-loaded .inline-newsletter__button {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
    .inline-newsletter__button:hover {
      background: #0c5267; }
    .inline-newsletter__button:disabled {
      opacity: .2; }
  .inline-newsletter__content {
    position: relative;
    padding-top: 20px;
    padding-top: 1.25rem; }
  .inline-newsletter__button-container {
    position: relative; }
  .inline-newsletter__spinner {
    display: none;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 50%;
    margin-left: -15px;
    border-left: 4px solid rgba(0, 0, 0, 0.45);
    border-right: 4px solid rgba(0, 0, 0, 0.45);
    border-bottom: 4px solid rgba(0, 0, 0, 0.45);
    border-top: 4px solid rgba(0, 0, 0, 0.85);
    border-radius: 100%;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear; }
  .inline-newsletter input, .inline-newsletter button {
    border-radius: 3px; }
  .inline-newsletter__input-label {
    position: absolute;
    display: block;
    top: 0;
    text-align: left;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4; }
    .benton-sans-bold-loaded .inline-newsletter__input-label {
      font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }
  .inline-newsletter__input--error + .inline-newsletter__input-label {
    display: none; }
  .inline-newsletter__error-text {
    position: absolute;
    top: 0;
    color: #d90000;
    font-size: 9pt;
    font-size: 0.75rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4; }
    .benton-sans-bold-loaded .inline-newsletter__error-text {
      font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }
  .inline-newsletter__thanks {
    padding: 20px 0;
    padding: 1.25rem 0;
    margin-left: 5px;
    margin-left: 0.3125rem;
    display: none;
    text-align: center;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8; }
    .benton-sans-loaded .inline-newsletter__thanks {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
  .inline-newsletter__link {
    display: inline-block;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8; }
    .benton-sans-bold-loaded .inline-newsletter__link {
      font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }
  .inline-newsletter__network-error {
    display: none; }
    .inline-newsletter__network-error:before {
      display: block;
      content: '';
      height: 23px;
      width: 28px;
      background: url("$configurationURI/Framework/bg-images/png/error-icon.png");
      background: url("$configurationURI/Framework/bg-images/svg/error-icon.svg"), linear-gradient(transparent, transparent);
      background-size: contain;
      background-repeat: no-repeat;
      margin: 5px auto 10px;
      margin: 5px auto 0.625rem; }
    .inline-newsletter__network-error p {
      font-size: 9pt;
      font-size: 0.75rem;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1.4;
      text-align: left; }
      .benton-sans-bold-loaded .inline-newsletter__network-error p {
        font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }

@media (min-width: 600px) {
  .inline-newsletter {
    margin: 30px 0;
    margin: 1.875rem 0;
    padding: 15px 20px 20px;
    padding: 0.9375rem 20px 1.25rem;
    text-align: center; }
    .inline-newsletter__copy {
      padding: 0 20px;
      padding: 0 1.25rem; }
    .inline-newsletter__content {
      display: flex;
      flex-wrap: wrap;
      padding: 1.25rem 20px 0;
      padding: 1.25rem 1.25rem 0; }
    .inline-newsletter__input {
      flex-basis: 50%;
      flex: 1;
      margin-right: 10px;
      margin-right: 0.625rem; }
    .inline-newsletter__button {
      min-width: 120px; }
    .inline-newsletter__title {
      margin: 10px 0;
      margin: 0.625rem 0; }
    .inline-newsletter__description {
      font-size: 13.5pt;
      font-size: 1.125rem;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1.8;
      margin-bottom: 10px;
      margin-bottom: 0.625rem; }
      .benton-sans-loaded .inline-newsletter__description {
        font-family: "Benton Sans", Helvetica, Arial, sans-serif; }
    .inline-newsletter__error-text {
      text-align: left; }
    .inline-newsletter__input-label {
      left: 20px;
      left: 1.25rem; }
    .inline-newsletter__network-error {
      padding: 0 20px;
      padding: 0 1.25rem; }
      .inline-newsletter__network-error:before {
        float: left;
        margin-right: 10px;
        margin-right: 0.625rem;
        margin-bottom: 0; }
      .inline-newsletter__network-error br {
        display: none; } }
/**
 * Module Name: Recirculation module for Big Article.
 */
.article-recirc {
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.13636%;
  padding-right: 1.13636%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 40px 0;
  margin: 40px 0; }
  .article-recirc__header {
    position: relative;
    text-align: center; }
    .article-recirc__header:after {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      top: 29%;
      left: 0;
      z-index: -100;
      background: #dddddd; }
  .article-recirc__heading {
    display: inline-block;
    padding: 0 20px;
    padding: 0 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    background: #ffffff;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8; }
    .benton-sans-bold-loaded .article-recirc__heading {
      font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }
  .article-recirc__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .article-recirc__item {
    width: 100%;
    margin-bottom: 25px;
    margin-bottom: 1.563rem; }
  .article-recirc a {
    text-decoration: none;
    color: #444444;
    padding-bottom: 2px;
    border-bottom: 1px solid #444444;
    text-decoration: none;
    padding-bottom: 0;
    border-bottom: none; }
    .article-recirc a:visited {
      color: #000000; }
    .article-recirc a:hover {
      color: black; }
    .article-recirc a:active, .article-recirc a:focus {
      color: #000000; }
  .article-recirc__image {
    width: 100%;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem; }
  .article-recirc__headline {
    font-size: 21pt;
    font-size: 1.75rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4; }
    .miller-headline-loaded .article-recirc__headline {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }

@media (min-width: 500px) {
  .article-recirc__image {
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-right: 1.25rem; }
  .article-recirc__headline {
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.8; }
    .miller-headline-loaded .article-recirc__headline {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; } }
@media (min-width: 600px) {
  .article-recirc {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 8.33333%;
    margin-top: 40px;
    margin-bottom: 40px; } }
@media (min-width: 800px) {
  .article-recirc__header:after {
    width: 80%;
    right: 0;
    margin: 0 auto; }
  .article-recirc__list {
    flex-wrap: nowrap; }
  .article-recirc__item {
    max-width: 32%; }
  .article-recirc__image {
    float: none;
    width: 100%;
    margin-right: 0; }
  .article-recirc__headline {
    line-height: 24px; } }
@media (min-width: 1040px) {
  .article-recirc {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.13636%;
    padding-right: 1.13636%;
    margin-left: 16.66667%;
    margin-top: 40px;
    margin-bottom: 40px; }
    .article-recirc__header:after {
      width: 75%; } }
.subscription-banner {
  display: none;
  margin-bottom: 25px;
  margin-bottom: 1.563rem;
  background-color: #333333;
  text-align: center;
  clear: both;
  font-size: 13.5pt;
  font-size: 1.125rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8;
  transition: background 0.35s ease-in-out; }
  .benton-sans-bold-loaded .subscription-banner {
    font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif; }
  .subscription-banner__link {
    display: block;
    padding: 15px;
    padding: 0.9375rem; }
  .subscription-banner__title {
    display: inline-block;
    margin-right: 5px;
    margin-right: 0.3125rem;
    color: #ffffff; }
  .subscription-banner__cta {
    display: inline-block;
    color: #9DBA73; }
  .subscription-banner:hover {
    background: #000000; }

/**
 * Module Name: Trending Content Chips
 */
.trending {
  margin: 1%;
  border: 1px solid #dddddd; }
  .trending__title {
    padding: 10px;
    color: #000000;
    font-size: 13.5pt;
    font-size: 1.125rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.8; }
    .miller-headline-loaded .trending__title {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }
  .trending__heading {
    font-size: 21pt;
    font-size: 1.75rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.4;
    margin: 20px 1% 0; }
    .miller-headline-loaded .trending__heading {
      font-family: "Miller Headline Roman", Georgia, Times, "Times New Roman", serif; }
  .trending__heading-description {
    font-size: 11.25pt;
    font-size: 0.9375rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8;
    margin: 0 1% 20px; }
    .helvetica-loaded .trending__heading-description {
      font-family: Helvetica, Arial, sans-serif; }

@media (min-width: 600px) {
  .trending {
    width: 48%;
    float: left; }
    .trending-1 {
      width: 98%; } }
@media (min-width: 800px) {
  .trending {
    width: 23%;
    float: left;
    position: relative; }
    .trending-1 {
      width: 48%;
      height: 410px; }
    .trending-2, .trending-3 {
      height: 410px; }
    .trending-section {
      max-width: 1000px;
      margin: auto; } }

/*# sourceMappingURL=index.css.map */
