// /**
//  * Module Name: Trending Content Chips
//  */

.trending {

	font-family: georgia;

	max-width: 1096px;
	margin: auto;

	.featured {

		margin-bottom: 2em;
		text-align: center;
		position: relative;

		&__info {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 5em 15px 2em;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			text-align: center;
		}

		&__heading {
			margin-bottom: .3em;
			font-family: helvetica;
			color: #fff;
			text-transform: uppercase;
			text-shadow: 0 0 10px #000;
			font-size: .8em;
		}

		img {
			max-height: 515px;
			width: 100%;
		}

		h1 {
			margin-bottom: .3em;
			font-size: 1.2em;
			color: #fff;
			line-height: 1.2em;
		}

		.popular,
		.comments,
		.spacer {
			display: inline-block;
			font-family: helvetica;
			font-size: .8em;
			color: #fff;
			text-transform: uppercase;
		}

	}

}

.trending-list {

	&-header {
		font-family: helvetica;
		font-size: 1.5em;
		margin-bottom: .5em;
		padding: 0 15px;
	}

	li {
		margin-bottom: 1.5em;
	}

	img {
		width: 100%;
	}

	.info {
		padding: .3em 15px 0 15px;
	}

	h1 {
		font-size: 1em;
		line-height: 1.2em;
		color: black;
	}

	.popular,
	.comments,
	.spacer {
		display: inline-block;
		margin-top: 10px;
		font-family: helvetica;
		font-size: .8em;
		color: $steelblue;
		text-transform: uppercase;
	}

}

@include media-query(481) {
	.trending {

		.featured {
			
			margin-top: 20px;
			margin-bottom: 2em;
			text-align: center;
			position: relative;

			&__info {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 5em 15% 2em;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
				text-align: center;
			}

			&__heading {
				margin-bottom: .3em;
				font-family: helvetica;
				color: #fff;
				text-transform: uppercase;
				text-shadow: 0 0 10px #000;
				font-size: 1em;
			}

			img {
				max-height: 515px;
				width: 100%;
			}

			h1 {
				margin-bottom: .3em;
				font-size: 2.5em;
				color: #fff;
				line-height: 1.2em;
			}

			.popular,
			.comments,
			.spacer {
				display: inline-block;
				font-family: helvetica;
				font-size: .8em;
				color: #fff;
				text-transform: uppercase;
			}

		}



		.trending-list {

			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 0 10px;

			&-header {
				padding: 0 10px;
			}

			li {
				width: 49%;
				padding-bottom: 1.5em;
				margin-bottom: 1.5em;
				//margin-bottom: 1em;
				border: 1px solid #ccc
			}
		}

	}
}


@include media-query(768) {
	.trending {

		.trending-list {
			padding: 0 10px;
			li {
				width: 32%;
				padding-bottom: 1.5em;
				margin-bottom: 1.5em;
				//margin-bottom: 1em;
				border: 1px solid #ccc
			}

			&-header {
				padding: 10px;
			}
		}

	}
}


@include media-query(1000) {
	.trending {

		.trending-list {
			padding: 0;
			&-header {
				padding: 0;
			}
		}

	}
}
